.wrapping{
    margin-left: 150px;
    margin-right: 150px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #173b6c;
    font-weight: bold;
}

hr{
    width: 50px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #092041;
}

.about, .facts, .skills, .resume, .portofolio, .services, .testimonial, .contact{
    padding-bottom: 30px;
}
